<section class="mt-5">
    <div class="container">
        <div class="row mt-4">
            <a
                href="/admin/add-product/"
                style="max-width: 200px; margin-bottom: 20px; margin-left: auto;"
                class="btn btn-success"
            >Add Product</a></div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">image</th>
                </tr>
            </thead>
            <tbody>
                {{#each product}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.product}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.description}}</td>
                        <td><img src="/product-images/{{this._id}}.jpg" style="max-height: 50px;" alt="image" /></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>